{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner %}


    <!-- Login Section -->
    <section class="section-style site-auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-12">
                    <div class="auth-content">
                        <div class="logo">
                            <a href="/"><img src="{% static 'logo.png' %}" alt=""/></a>
                        </div>
                        <div class="title">
                            <h2> 👋 Welcome Back!</h2>
                        </div>
                        {% if form.errors %}
                        {% for error in form.errors %}
                        <div class="alert alert-danger">
                            <strong>Wrong {{ error }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        

                        <div class="site-auth-form">
                            <form method="POST" class="mb-4 text-start" autocomplete="off" action="{% url 'account_login' %}">
                                {% csrf_token %}
                          
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}                               <div class="single-field">
                                    <label class="box-label" for="email">Username</label>
                                    <input autocomplete="off" onkeyup="this.value = this.value.toUpperCase();" autocomplete="sedrctvghb" type="text" class="form-control " id="username" name="username" placeholder="User ID" autofocus="autofocus" maxlength="150">
                                </div>
                                <div class="single-field">
                                    <label class="box-label" for="password">Password</label>
                                    <div class="password">
                                        <input autocomplete="off" autocomplete="sedrctvghb" type="password" class="form-control " name="password" placeholder="Password" id="password">
                                    </div>
                                </div>

                                
                                <div class="single-field">
                                    <input
                                        class="form-check-input check-input"
                                        type="checkbox"
                                        name="remember"
                                        id="flexCheckDefault"
                                    />
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember me
                                    </label>

                                                                            <span class="forget-pass-text"><a
                                                href="#">Forget Password</a></span>
                                                                    </div>
                                <button type="submit" class="site-btn grad-btn w-100">
                                    Account Login
                                </button>
                            </form>
                            <div class="singnup-text">
                                <p>
                                    Don&#039;t have an account?
                                    <a href="/accounts/signup/">Signup for free</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->

{% endblock %}