.footer {
    padding-top: 0.75rem;
    padding-bottom: 0.75em;
    z-index: 1;
    flex-shrink: 0;
    color: var(--adminux-theme-color) !important;
    background-color: var(--adminux-theme);
    border-radius: var(--adminux-rounded) var(--adminux-rounded) 0 0;

    .nav {
        .nav-item {
            padding: 0 5px;

            .nav-link {
                padding: 0px;
            }
        }
    }


    &.text-white {
        color: #ffffff;

        .nav-link,
        .text-dark,
        a {
            color: var(--adminux-theme-color) !important;
        }

        .text-secondary {
            color: rgba(255, 255, 255, 0.7) !important;
        }
    }
}

.footer-page {
    background-color: rgba(var(--adminux-theme-rgb), 0.025);
    border-radius: var(--adminux-rounded);
}

.footer-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    border-radius: var(--adminux-rounded) var(--adminux-rounded) 0 0;
    background: linear-gradient(180deg, rgba(var(--adminux-theme-bg-rgb), 0.8) 0%, rgba(255, 255, 255, 0.95) 100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    -webkt-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    padding-bottom: env(safe-area-inset-bottom);
    margin-left: calc(var(--adminux-sidebar-width));
    @extend .transition-05;
    @extend .bg-blur;

    .nav {
        align-items: center;
        max-width: 480px;
        margin: 0 auto;

        .nav-item {

            .nav-link {
                text-align: center;
                background: transparent;
                align-self: center;
                -webkit-align-self: center;
                -moz-align-self: center;
                height: 100%;
                line-height: 44px;
                color: var(--adminux-theme-text-secondary);
                padding: 10px 5px;
                opacity: 0.75;

                span {
                    line-height: 20px;
                    display: inline-block;
                    vertical-align: middle;

                    .nav-icon {
                        font-size: 18px;
                        height: 20px;
                        line-height: 20px;
                        width: 20px;
                        display: inline-block;
                        margin: 0 auto 5px auto;
                    }

                    .nav-text {
                        font-size: 10px;
                        line-height: 15px;
                        display: block;
                    }
                }

                &.active {
                    color: var(--adminux-theme-text);
                    opacity: 1;
                }
            }

            &.centerbutton {
                padding: 10px;
                transition: none;

                .nav-link {
                    position: relative;
                    padding: 8px;
                    height: 76px;
                    width: 76px;
                    margin: 0 auto;
                    margin-top: -30px;
                    transition: none;
                    opacity: 1;

                    &>span {
                        height: 60px;
                        line-height: 56px;
                        width: 60px;
                        border-radius: 50%;
                        margin: 0px auto 0 auto;
                        background-color: var(--adminux-theme-color);
                        color: var(--adminux-theme-color);
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
                        -webkt-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);


                    }

                }
            }
        }
    }
}

.menu-close {
    .footer-sticky {
        margin-left: 0;
    }
}

@media screen and (max-width:992px) {
    .footer-sticky {
        margin-left: 0;
    }
}