.sidebar-width {
    width: var(--adminux-sidebar-width);
    display: flex;
}

.sidebar-wrap {
    position: fixed !important;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 8 !important;
    opacity: 0;
    left: calc(var(--adminux-sidebar-width) * (-1));
    padding-top: var(--bs-gutter-x, 0.75rem);
    @extend .transition-05;

    .sidebar {
        float: left;
        display: block;
        height: 100%;
        overflow-y: auto;
        position: relative;
        width: var(--adminux-sidebar-width);
        z-index: 1;
        color: var(--adminux-theme-text);
        padding-right: 5px;
        @extend .transition-05;

        .profile-sidebar {
            position: relative;
            margin-bottom: 30px;
        }

        .nav {
            flex-direction: column;

            .nav-item {
                margin-bottom: 4px;

                &.dropdown {
                    .dropdown-toggle {


                        &::after {
                            display: none;
                        }

                        &>.arrow {
                            display: block;

                            &>.plus {
                                display: block;
                            }

                            &>.minus {
                                display: none;
                            }
                        }

                        &.show {
                            color: var(--adminux-theme-color);
                            border-radius: 0 30px 0 0;
                            background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);

                            &:before {
                                opacity: 1;
                                left: 0;
                            }

                            &>.arrow {
                                &>.plus {
                                    display: none;
                                }

                                &>.minus {
                                    display: block;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);
                        border: 0;
                        padding: 5px;
                        border-radius: 0 0 30px 0px;
                        box-shadow: none;
                        margin-top: 0;

                        i {
                            color: inherit;
                        }

                        &>li {
                            margin-bottom: 5px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .nav-link {
                            color: var(--adminux-theme-color);

                            &.active,
                            &:hover {
                                color: var(--adminux-theme-color);
                                background: linear-gradient(90deg, rgba(var(--adminux-theme-rgb), 0.8) 0%, var(--adminux-theme-grad-3) 100%);
                            }
                        }
                    }
                }

                .nav-link {
                    display: flex;
                    line-height: 40px;
                    padding: 5px;
                    border-radius: 0 30px 30px 0;
                    color: var(--adminux-theme-text);
                    position: relative;

                    &>*:not(.icon) {
                        line-height: 40px;
                        vertical-align: middle;
                    }

                    &:before {
                        content: '';
                        height: 80%;
                        width: 4px;
                        position: absolute;
                        top: 10%;
                        left: -4px;
                        background-color: var(--adminux-theme);
                        border-radius: 2px;
                        opacity: 0;
                        @extend .transition-05;
                    }

                    &>.arrow {
                        opacity: 0.3;
                        margin-right: 15px;
                    }

                    &>.icon {
                        margin-right: 5px;
                    }

                    figure.avatar {
                        margin-top: -3px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.15);
                    }

                    &.active,
                    &:hover {
                        color: var(--adminux-theme-color);
                        background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);

                        &:before {
                            opacity: 1;
                            left: 0;
                        }

                        &>.icon {}

                        &>.arrow {
                            opacity: 0.5;
                        }
                    }

                    &.show {
                        &>.arrow {
                            opacity: 1;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &+.main {
        margin-left: 0;
        margin-right: 0;
    }

}

body {
    &.sidebar-pushcontent {
        .sidebar-wrap {
            width: var(--adminux-sidebar-width);
            left: 0;
            opacity: 1;
            z-index: 8;

            &+.main {
                margin-left: calc(var(--adminux-sidebar-width));
                @extend .transition-05;

                &+.footer {
                    margin-left: var(--adminux-sidebar-width);
                    @extend .transition-05;
                }
            }

            .sidebar {
                width: 100%;
                left: 0;

                .nav {
                    .nav-item {
                        .nav-link {}

                        &.dropdown {
                            .dropdown-menu {
                                position: relative !important;
                                transform: none !important;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }

        .header>.navbar:after {
            left: var(--adminux-sidebar-width);
        }
    }
}

.menu-close {

    &.sidebar-pushcontent {
        .sidebar-wrap {
            left: calc((var(--adminux-sidebar-width)) * (-1));
            opacity: 0;

            &+main {
                margin-left: 0;

                &+.footer {
                    margin-left: 0;
                }
            }
        }

        .header>.navbar:after {
            left: 0;
        }
    }

}

.sidebar-filled {
    .sidebar-wrap {
        background-color: var(--adminux-theme-color);
        box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.05);
    }
}

.sidebar-filled-theme {

    &.sidebar-pushcontent {
        .sidebar-wrap {
            --adminux-theme-text: #ffffff;
            --adminux-theme-text-secondary: #dddddd;
            --bs-secondary-rgb: 255, 255, 255;
            --adminux-theme-color: var(--adminux-theme-darken);
            --adminux-theme-bg-rgb: var(--bs-secondary-rgb);
            --adminux-border-color: rgba(var(--bs-secondary-rgb), 0.15);
            background-color: var(--adminux-theme);

            .text-secondary {
                --bs-text-opacity: 0.85;
            }

            .list-group-item {}

            a,
            .text-theme,
            .footer .nav-link {
                --adminux-theme: #ffffff;
            }


            .nav .nav-item.dropdown .dropdown-toggle.show {
                background-color: rgba(0, 0, 0, 0.35);

                &+.dropdown-menu {
                    background-color: rgba(0, 0, 0, 0.20);
                }
            }
        }
    }

}


.inner-sidebar-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    min-height: 600px;

    .inner-sidebar {
        width: var(--adminux-sidebar-width);
        min-height: 600px;
        height: 100%;
        max-height: 100%;
        background-color: var(--adminux-theme-bg);
        border-right: 1px solid var(--adminux-border-color);
        position: relative;
        z-index: 1;
        flex: 0 0 auto;
        margin-left: 0;
        transition: ease all 0.5s;
        -webkit-transition: ease all 0.5s;
        -moz-transition: ease all 0.5s;
        -ms-transition: ease all 0.5s;
        overflow-y: auto;

        .nav {
            flex-direction: column;
            width: 100%;

            .nav-item {
                margin-bottom: 1px;

                &.dropdown {
                    .dropdown-toggle {


                        &::after {
                            display: none;
                        }

                        &>.arrow {
                            display: block;

                            &>.plus {
                                display: block;
                            }

                            &>.minus {
                                display: none;
                            }
                        }

                        &.show {
                            color: var(--adminux-theme);
                            background-color: rgba(var(--adminux-theme-rgb), 0.05);

                            &:before {
                                opacity: 1;
                                left: 0;
                            }

                            border-radius: var(--adminux-rounded) var(--adminux-rounded) 0 0;

                            &>.arrow {
                                &>.plus {
                                    display: none;
                                }

                                &>.minus {
                                    display: block;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        background-color: rgba(var(--adminux-theme-rgb), 0.05);
                        border: 0;
                        padding: 0px;
                        border-radius: 0 0 var(--adminux-rounded) var(--adminux-rounded);
                        box-shadow: none;
                        margin-top: 0;
                        position: relative;
                        top: 0;

                        i {
                            color: inherit;
                        }

                        &>li {
                            margin-bottom: 5px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .nav-link {
                    display: flex;
                    line-height: 40px;
                    padding: 5px;
                    border-radius: 0;
                    color: var(--adminux-theme-text);
                    position: relative;

                    &>*:not(.icon) {
                        line-height: 40px;
                        vertical-align: middle;
                    }

                    &:before {
                        content: '';
                        height: 80%;
                        width: 4px;
                        position: absolute;
                        top: 10%;
                        left: -4px;
                        background-color: var(--adminux-theme);
                        border-radius: 2px;
                        opacity: 0;
                        @extend .transition-05;
                    }

                    &>.arrow {
                        opacity: 0.3;
                        margin-right: 15px;
                    }

                    &>.icon {
                        margin-right: 5px;
                    }

                    figure.avatar {
                        margin-top: -3px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.15);
                    }

                    &.active,
                    &:hover {
                        color: var(--adminux-theme);
                        background-color: rgba(var(--adminux-theme-rgb), 0.05);

                        &:before {
                            opacity: 1;
                            left: 0;
                        }

                        &>.icon {}

                        &>.arrow {
                            opacity: 0.5;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .inner-sidebar-content {
        flex: 1 0 0%;
        width: 100%;
        position: relative;
        z-index: 0;
    }
}

.innermenu-close {
    .inner-sidebar {
        margin-left: calc(var(--adminux-sidebar-width) * (-1));
    }
}



@media screen and (max-width:1300px) {
    .inner-sidebar-wrap {
        .inner-sidebar {
            position: absolute;
            margin-left: calc(var(--adminux-sidebar-width) * (-1));
        }

        .inner-sidebar-content {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 0;
                top: 0;
                left: 100%;
                background-color: rgba(var(--adminux-theme-rgb), 0);
                transition: ease all 0.5s;
                -webkit-transition: ease all 0.5s;
                -moz-transition: ease all 0.5s;
                -ms-transition: ease all 0.5s;
                z-index: 1;
            }
        }
    }

    .innermenu-close {
        .inner-sidebar {
            margin-left: 0;
            z-index: 1;
        }

        .inner-sidebar-content {
            &::after {
                content: "";
                width: 100%;
                left: var(--adminux-sidebar-width);
                background-color: rgba(var(--adminux-theme-rgb), 0.1);
            }
        }

    }
}

@media screen and (max-width:992px) {
    body {
        .sidebar-wrap {
            box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.05), 1px 0px 3px rgba(0, 0, 0, 0.07);
        }

        &.sidebar-pushcontent {
            .sidebar {
                z-index: 8;
            }

            .sidebar-wrap {
                background-color: var(--adminux-theme-bg);
                box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.05), 1px 0px 3px rgba(0, 0, 0, 0.07);

                &+.main {
                    margin-left: 0;
                }
            }

            &.sidebar-filled {
                .sidebar-wrap {
                    background-color: var(--adminux-theme-color);
                }
            }
        }

        &:not(.menu-close) {
            &.sidebar-pushcontent {
                .sidebar-wrap {
                    &+main+.footer {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .sidebar-width {
        width: auto;
    }
}