table,
.table {
    tbody {
        tr {

            &:hover,
            &:focus {
                z-index: 2;
            }

            th {
                font-size: 14px;
                font-weight: normal;
                color: var(--adminux-theme-text-secondary);
                border-bottom: 1px solid var(--adminux-border-color);
                border-top: 1px solid var(--adminux-border-color);
            }
        }
    }

    thead {
        tr {
            td {
                vertical-align: middle;
                border-bottom: 1px solid var(--adminux-border-color);
                padding: 0.535rem 0.5rem;

                .badge {
                    font-weight: normal;
                }
            }
        }
    }

    &> :not(:first-child) {
        border-top: 0;
    }
}

.footable {
    thead {
        tr {
            th {
                font-size: 14px;
                font-weight: normal;
                color: var(--adminux-theme-text-secondary);
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
            }

            &.footable-detail-row {

                &>td {
                    background-color: rgba(var(--adminux-theme-rgb), 0.05);

                    .footable-details {

                        th {
                            font-size: 14px;
                            font-weight: normal;
                            color: var(--adminux-theme-text-secondary);
                            border: 0;
                        }

                        td {
                            border: 0;
                            padding: 0.5rem 0.5rem;

                        }
                    }
                }

            }
        }
    }

    &.footable-datarow {
        border-spacing: 0 0.75rem;
        border-collapse: separate;

        &>tbody {
            &>tr:not(.footable-detail-row) {
                position: relative;

                td {
                    padding: 1rem 0.5rem;
                    position: relative;
                    z-index: 1;
                }

                &:after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    background-color: rgba(var(--adminux-theme-bg-rgb), 0.8);
                    box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.03), 0 0.095rem 0.3rem rgb(0, 0, 0, 0.07);
                    border-radius: var(--adminux-rounded);
                }
            }
        }

        tr.footable-detail-row {

            &>td {
                padding: 1rem;
                border-radius: var(--adminux-rounded);

                .footable-details {
                    tbody {
                        tr {
                            th {
                                display: none;
                            }

                            td {
                                padding: 0;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fooicon {
    font-family: bootstrap-icons !important;
}

.fooicon-sort-asc:before {
    content: "\f574";
}

.fooicon-sort-desc:before {
    content: "\f57b";
}

.fooicon-sort:before {
    content: "\f127";
    font-size: 11px;
}

.fooicon-plus:before {
    content: "\f282";
}

.fooicon-minus:before {
    content: "\f286";
}

.footable-pagination-wrapper {
    display: inline-block;
    vertical-align: middle;

    .divider,
    .label {
        display: none !important;
    }

    ul.pagination {
        margin: 0;

        li.footable-page-nav {
            border: 1px solid var(--adminux-border-color);

            .footable-page-link {
                font-size: 15px;
                line-height: 26px;
            }
        }

        li.footable-page,
        li.footable-page-nav {
            height: 30px;
            width: 30px;
            line-height: 215px;
            text-align: center;
            border-radius: 6px;
            background-color: transparent;
            vertical-align: middle;
            margin: 0 2px;
            font-size: 12px;

            &:hover {
                background-color: var(--adminux-border-color);
            }

            .footable-page-link {
                color: var(--adminux-theme-text-secondary);
                display: block;
            }

            &.active {
                .footable-page-link {
                    font-weight: 600;
                    color: var(--adminux-theme);
                }
            }
        }
    }
}

/* table scheduled */
.table-scheduled {
    display: block;
    border: 1px solid var(--adminux-border-color);

    thead {
        display: block;
        z-index: 8;
        overflow-x: hidden;

        &.position-fixed {
            background-color: var(--adminux-theme-bg);
            width: calc(100% - 2px - var(--bs-gutter-x));
        }

        tr {
            display: flex;
            flex-direction: row;
            border: 0;
            position: relative;

            th {
                font-weight: 500;
                vertical-align: middle;
                width: calc((100% - 60px)/7);
                max-width: calc((100% - 60px)/7);
                display: block;
                border-width: 0 1px 1px 0;
                border-color: var(--adminux-border-color);
                min-width: 200px;

                &:first-child {
                    width: 60px;
                    min-width: 60px;
                    font-size: 14px;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    tbody {
        display: block;
        overflow-x: auto;
        width: 100%;

        tr {
            display: flex;
            flex-direction: row;

            td {
                display: block;
                border-width: 0 1px 1px 0;
                border-color: var(--adminux-border-color);
                min-width: 200px;

                &:not(:first-child) {
                    min-height: 52px;
                    width: calc((100% - 60px)/7);
                    max-width: calc((100% - 60px)/7);

                    &:not(.disabled) {
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(var(--adminux-theme-bg-rgb), 0.8) !important;
                        }
                    }

                    &.disabled {
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            display: block;
                            background-color: rgba($red, 0.05) !important;
                        }
                    }

                    .addEventbtn {
                        &+.card {
                            margin-top: 20px;
                        }
                    }
                }

                &:first-child {
                    width: 60px;
                    min-width: 60px;
                    font-size: 14px;
                }

                &:last-child {
                    border-right: 0;
                }
            }

            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}