<!-- footer -->
<footer class="footer text-white">
    <div class="container-fluid text-center">
        <p class="text-secondary small">Copyright @2022, Designed by <a href="https://maxartkiller.com" target="_blank">Maxartkiller</a> on Earth ❤️</p>
        <ul class="nav justify-content-center small">
            <li class="nav-item"><a class="nav-link" href="help-center.html">Help</a></li>
            <li class="nav-item">|</li>
            <li class="nav-item"><a class="nav-link" href="terms-of-use.html">Terms of Use</a></li>
            <li class="nav-item">|</li>
            <li class="nav-item"><a class="nav-link" href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
<!-- footer ends -->