{% load static i18n %}
<div class="panel-header">
    <div class="logo">
        <a href="/users/">
            <img class="logo-fold" src="{% static '/assets/global/images/JJYN2UUG94YOc0E0v7GA.png' %}" alt="Logo"/>
        </a>
    </div>
    <div class="nav-wrap">
        <div class="nav-left">

            <button class="sidebar-toggle">
                <i class="anticon text-white anticon-arrow-left"></i>
            </button>
        </div>
        <div class="nav-center">
            <a href="/users/">
                <img class="logo-fold" style="width: 207px; padding-top: 10%;
                padding-left: 6%;" src="{% static '/assets/global/images/JJYN2UUG94YOc0E0v7GA.png' %}" alt="Logo"/>
            </a>
        </div>
        <div class="nav-right">
            <div class="single-nav-right">
                <a style="color: aliceblue;" href="" class="user-home-menu">
                    <i class="anticon text-white anticon-home"></i>
                </a>
                <div class="single-right">
                    <button
                        type="button"
                        class="item"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="anticon text-white anticon-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="/users/~update/" class="dropdown-item" type="button"><i
                                    class="anticon text-white anticon-setting"></i>Settings</a>
                        </li>
                        <li>
                            <a href="/users/change-password/" class="dropdown-item" type="button">
                                <i class="anticon text-white anticon-lock"></i>Change Password
                            </a>
                        </li>
                        <li class="logout">
                            <a href="/accounts/logout/" class="dropdown-item" type="button">
                                <i class="anticon text-white anticon-customer-service"></i>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--/Header-->

    <!--Side Nav-->
    <div class="side-nav">
    <div class="side-wallet-box default-wallet mb-0">
        <div class="user-balance-card">
            <div class="wallet-name">
                <div class="name">Account Balance</div>
                <div class="default">Wallet</div>
            </div>
            <div class="wallet-info">
                <div class="wallet-id"><i icon-name="wallet"></i>Fund Wallet</div>
                <div class="balance">${{request.user.c}}</div>
            </div>
            <div class="wallet-info">
                <div class="wallet-id"><i icon-name="landmark"></i>Profit Wallet</div>
                <div class="balance">${{request.user.wallet}}</div>
            </div>
        </div>
        <div class="actions">
            <a style="color: aliceblue;" href="/wallet/fund-request/" class="user-sidebar-btn"><i
                    class="anticon text-white anticon-file-add"></i>Deposit</a>
            <a style="color: aliceblue;" href="/level/activation/" class="user-sidebar-btn red-btn"><i
                    class="anticon text-white anticon-export"></i>Join Package</a>
        </div>
    </div>
    <div class="side-nav-inside">
        <ul class="side-nav-menu">
            <li class="side-nav-item active">
                <a style="color: aliceblue;" href="/users/"><i
                        class="anticon text-white anticon-appstore"></i><span>Dashboard</span></a>
            </li>
            

            <li class="side-nav-item   ">
                <a style="color: aliceblue;" href="/wallet/withdrawDollarVridhi/"><i
                        class="anticon text-white anticon-export"></i><span>Withdraw</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/level/activation/"><i
                        class="anticon text-white anticon-cloud"></i><span>Buy Plan</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/users/fund-transfer/"><i
                        class="anticon text-white anticon-cloud"></i><span>Fund Transfer</span></a>
            </li>

            <li class="side-nav-item   ">
                <a style="color: aliceblue;" href="/wallet/history/"><i
                        class="anticon text-white anticon-bank"></i><span>All Transactions</span></a>
            </li>

            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="https://DollarVridhi.com/register/{{ request.user.username }}"><i
                        class="anticon text-white anticon-check-square"></i><span>New User</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/users/~update/"><i
                        class="anticon text-white anticon-copy"></i><span>My Profile</span></a>
            </li>


            <li class="side-nav-item   ">
                <a style="color: aliceblue;" href="/wallet/account/"><i
                        class="anticon text-white anticon-file-add"></i><span>Bank Details</span></a>
            </li>

            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/level/team/{{request.user.username}}/1/"><i
                        class="anticon text-white anticon-transaction"></i><span>Direct Sponsors</span></a>
            </li>

            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/level/team/{{request.user.username}}/0/"><i
                        class="anticon text-white anticon-folder-add"></i><span>Level Network</span></a>
            </li>
            
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/wallet/direct/"><i
                        class="anticon text-white anticon-transaction"></i><span>Direct Income</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/wallet/level/"><i
                        class="anticon text-white anticon-transaction"></i><span>Level Income</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/wallet/pool/"><i
                        class="anticon text-white anticon-transaction"></i><span>Diamond Income</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/wallet/passive/"><i
                        class="anticon text-white anticon-transaction"></i><span>Global Community Income</span></a>
            </li>
            <li class="side-nav-item ">
                <a style="color: aliceblue;" href="/wallet/booster/"><i
                        class="anticon text-white anticon-transaction"></i><span>Upline Income</span></a>
            </li>
            <li class="side-nav-item">
                <a style="color: aliceblue;" href="/accounts/logout/" class="site-btn grad-btn w-100">
                    <i class="anticon text-white anticon-logout"></i><span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>