<!-- footer sticky bottom -->
<footer class="footer-sticky">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="home.html">
                    <span>
                        <i class="nav-icon bi bi-house"></i>
                        <span class="nav-text">Home</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="finance-dashboard.html">
                    <span>
                        <i class="nav-icon bi bi-binoculars"></i>
                        <span class="nav-text">Money</span>
                    </span>
                </a>
            </li>
            <li class="nav-item centerbutton">
                <a class="nav-link" href="personalization.html">
                    <span class="bg-radial-gradient-theme">
                        <i class="bi bi-palette size-22"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="app-email.html">
                    <span>
                        <i class="nav-icon bi bi-bag"></i>
                        <span class="nav-text">Email</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile.html">
                    <span>
                        <i class="nav-icon bi bi-person"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>
<!-- footer sticky bottom ends -->
