{% extends "users/base.html" %}
{% load static i18n %}
{% load sum_tags %}
 

{% block content %}
<div class="body-wrapper">
  <div class="main-wrapper">
    <div class="page-wrapper full-page-wrapper">
      <main>
        <div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card p-0">
                <section style="padding: 30px 30px 20px 30px;" class="error-header">
                  <h1>{% trans "My Network" %}</h1>
                  <p>{% trans 'here you can see your Network' %}</p>
                </section>
                <section style="padding: 5%">
                  <div class="mdc-layout-grid__inner mt-2" align="center">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>All 8 Levels</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Levels</th>
                              <th>Users</th>
                              <th>Business</th>
                              <th>My Commision</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                              <td><strong style="color: {% if directs >= 1 %}green{% else %}red{% endif %}">Level 1</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.1 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.1 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{lc.1}}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 2 %}green{% else %}red{% endif %}">Level 2</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.2 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.2 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.2 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 3 %}green{% else %}red{% endif %}">Level 3</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.3 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.3 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.3 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 4 %}green{% else %}red{% endif %}">Level 4</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.4 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.4 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.4 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 5 %}green{% else %}red{% endif %}">Level 5</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.5 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.5 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.5 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 6 %}green{% else %}red{% endif %}">Level 6</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.6 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.6 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.6 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 7 %}green{% else %}red{% endif %}">Level 7</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.7 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.7 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.7 }}</td>
                              </tr>
                              <tr>
                              <td><strong style="color: {% if directs >= 8 %}green{% else %}red{% endif %}">Level 8</strong></td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.8 }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.8 }}</td>
                              <td><span style="font-size: 16px">$ </span>{{ lc.8 }}</td>
                              </tr>
                              <tr>
                              <td><strong>Total</strong></td>
                              <td><strong style="color: green; font-size: 16px;">&#9745; {{ countingi.1|add:countingi.2|add:countingi.3|add:countingi.4|add:countingi.5|add:countingi.6|add:countingi.7|add:countingi.8 }}</strong></td>
                              <td><strong style="color: orange; font-size: 16px;">$ {{ business.1|add:business.2|add:business.3|add:business.4|add:business.5|add:business.6|add:business.7|add:business.8 }}</strong></td>
                              <td><strong style="color: red; font-size: 16px;">$ {{ request.user.wallet }}</strong></td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 1</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Mobile</th>
                              <th>Plan</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for usern, shopn in user_list %}
                              <tr>
                              <td>{% if shopn.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ usern.name|truncatewords:1|slice:"-3" }}({{ usern.username }})</td>
                              <td><a href="tel:{{ usern.mobile }}">{{ usern.mobile }}</a></td>
                              <td>$ {{ shopn.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 2</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level2n, level2nu in all.0 %}
                              <tr>
                              <td>{% if level2n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level2nu.name|truncatewords:1|slice:"-3" }}({{ level2nu.username }})</td>
                              <td>{{ level2nu.referral }}</td>
                              <td>$ {{ level2n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 3</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level3n, level3nu in all.1 %}
                              <tr>
                              <td>{% if level3n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level3nu.name|truncatewords:1|slice:"-3" }}({{ level3nu.username }})</td>
                              <td>{{ level3n.direct }}</td>
                              <td>$ {{ level3n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 4</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level4n, level4nu in all.2 %}
                              <tr>
                              <td>
                                {% if level4n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level4nu.name|truncatewords:1|slice:"-2" }}({{ level4nu.username }})</td>
                              <td>{{ level4n.direct }}</td>
                              <td>$ {{ level4n.level.amount }}</td>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 5</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level5n, level5nu in all.3 %}
                              <tr>
                              <td>{% if level5n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level5nu.name|truncatewords:1|slice:"-3" }}({{ level5nu.username }})</td>
                              <td>{{ level5n.direct }}</td>
                              <td>$ {{ level5n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 6</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level6n, level6nu in all.4 %}
                              <tr>
                              <td>{% if level6n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level6nu.name|truncatewords:1|slice:"-3" }}({{ level6nu.username }})</td>
                              <td>{{ level6n.direct }}</td>
                              <td>$ {{ level6n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 7</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level7n, level7nu in all.5 %}
                              <tr>
                              <td>{% if level7n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level7nu.name|truncatewords:1|slice:"-3" }}({{ level7nu.username }})</td>
                              <td>{{ level7n.direct }}</td>
                              <td>$ {{ level7n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 8</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level8n, level8nu in all.6 %}
                              <tr>
                              <td>{% if level8n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level8nu.name|truncatewords:1|slice:"-3" }}({{ level8nu.username }})</td>
                              <td>{{ level8n.direct }}</td>
                              <td>$ {{ level8n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<style type="text/css">
.two p { display: inline-block; max-width: 50%; }
.two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; }
</style>
{% endblock content %}