{% extends "users/base.html" %}
{% load static i18n %}
{% load sum_tags %}
 

{% block content %}
<div class="body-wrapper">
  <div class="main-wrapper">
    <div class="page-wrapper full-page-wrapper">
      <main>
        <div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card p-0">
                <section style="padding: 30px 30px 20px 30px;" class="error-header">
                  <h1>{% trans "My Network" %}</h1>
                  <p>{% trans 'here you can see your Network' %}</p>
                </section>
                <section style="padding: 5%">
                  <div class="mdc-layout-grid__inner mt-2" align="center">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>All 8 Levels</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>User Type</th>
                              <th>All</th>
                              <th>Active</th>
                              <th>Inactive</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                              <td>Level 1</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.1 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.1 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.1 countingi.1 as x1 %}{{ x1|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 2</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.2 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.2 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.2 countingi.2 as x2 %}{{ x2|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 3</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.3 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.3 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.3 countingi.3 as x3 %}{{ x3|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 4</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.4 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.4 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.4 countingi.4 as x4 %}{{ x4|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 5</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.5 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.5 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.5 countingi.5 as x5 %}{{ x5|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 6</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.6 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.6 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.6 countingi.6 as x6 %}{{ x6|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 7</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.7 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.7 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.7 countingi.7 as x7 %}{{ x7|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td>Level 8</td>
                              <td><span style="color: orange; font-size: 16px">&#9679; </span> {{ counting.8 }}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.8 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.8 countingi.8 as x8 %}{{ x8|floatformat:"0" }}</td>
                              </tr>
                              <tr>
                              <td><strong>Total</strong></td>
                              <td><strong style="color: orange; font-size: 16px;">&#9745; {{ counting.1|add:counting.2|add:counting.3|add:counting.4|add:counting.5|add:counting.6|add:counting.7|add:counting.8 }}</strong></td>
                              <td><strong style="color: green; font-size: 16px;">&#9745; {{ countingi.1|add:countingi.2|add:countingi.3|add:countingi.4|add:countingi.5|add:countingi.6|add:countingi.7|add:countingi.8 }}</strong></td>
                              <td><strong style="color: red; font-size: 16px;">&#9745; {{ x1|add:x2|add:x3|add:x4|add:x5|add:x6|add:x7|add:x8 }}</strong></td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 1</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Mobile</th>
                              <th>Plan</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for usern, shopn in user_list %}
                              <tr>
                              <td>{% if shopn.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ usern.name|truncatewords:1|slice:"-3" }}({{ usern.username }})</td>
                              <td><a href="tel:{{ usern.mobile }}">{{ usern.mobile }}</a></td>
                              <td>Level {{ shopn.level }}</td>
                              <td><a href="/level/team/{{ usern.username }}/">View</a></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 2</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level2n, level2nu in all.0 %}
                              <tr>
                              <td>{% if level2n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level2nu.name|truncatewords:1|slice:"-3" }}({{ level2nu.username }})</td>
                              <td>{{ level2nu.referral }}</td>
                              <td>Level {{ level2n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 3</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level3n, level3nu in all.1 %}
                              <tr>
                              <td>{% if level3n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level3nu.name|truncatewords:1|slice:"-3" }}({{ level3nu.username }})</td>
                              <td>{{ level3n.direct }}</td>
                              <td>Level {{ level3n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 4</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level4n, level4nu in all.2 %}
                              <tr>
                              <td>
                                {% if level4n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level4nu.name|truncatewords:1|slice:"-2" }}({{ level4nu.username }})</td>
                              <td>{{ level4n.direct }}</td>
                              <td>Level {{ level4n.level }}</td>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 5</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level5n, level5nu in all.3 %}
                              <tr>
                              <td>{% if level5n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level5nu.name|truncatewords:1|slice:"-3" }}({{ level5nu.username }})</td>
                              <td>{{ level5n.direct }}</td>
                              <td>Level {{ level5n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 6</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level6n, level6nu in all.4 %}
                              <tr>
                              <td>{% if level6n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level6nu.name|truncatewords:1|slice:"-3" }}({{ level6nu.username }})</td>
                              <td>{{ level6n.direct }}</td>
                              <td>Level {{ level6n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 7</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level7n, level7nu in all.5 %}
                              <tr>
                              <td>{% if level7n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level7nu.name|truncatewords:1|slice:"-3" }}({{ level7nu.username }})</td>
                              <td>{{ level7n.direct }}</td>
                              <td>Level {{ level7n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 8</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level8n, level8nu in all.6 %}
                              <tr>
                              <td>{% if level8n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level8nu.name|truncatewords:1|slice:"-3" }}({{ level8nu.username }})</td>
                              <td>{{ level8n.direct }}</td>
                              <td>Level {{ level8n.level }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<style type="text/css">
.two p { display: inline-block; max-width: 50%; }
.two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; }
</style>
{% endblock content %}