{% extends 'panel/base.html' %}
{% load static sum_tags %}
{% block content %}
<div class="app-layout-canvas">
    <div class="app-layout-container">
        {% include 'panel/partials/nav.html' %}
        <main class="app-layout-content">
            <!-- Page Content -->
            <div class="container-fluid p-y-md">
                <!-- Dynamic Table Full -->
                <div class="card">
                    <div class="card-header">
                        <h4>Withdrawals</h4>
                    </div>
                    <div class="card-block">
                        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                        <table class="table table-borderless footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-sm" data-show-toggle="true" style="">
                            <thead>
                                <tr class="text-muted footable-header">	
                                <th class="w-12 footable-sortable footable-first-visible" style="display: table-cell;"><span class="fooicon fooicon-sort"></span></th>
                                <th class="footable-sortable" style="display: table-cell;">User ID<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Amount<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">Comment<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Date<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Status<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Deliver to" class="footable-sortable" style="display: table-cell">txn ID<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Address" class="footable-sortable" style="display: table-cell">Type<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Location" class="footable-sortable" style="display: table-cell">Balance<span class="fooicon fooicon-sort"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for x in w %}
                                                                {% if x.type == 'hidden' %}
                                                                {% else %}
                                                                <tr>
                                                                    <td class="footable-first-visible" style="display: table-cell;">{{ forloop.counter }}</td>
                                                                    <td style="display: table-cell;">
                                                                        {{ x.user_id }}
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{ x.amount }}</p>
                                                                            <p class="text-secondary small">USD</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{x.comment}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{x.created_at}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">Success</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{x.txnid}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell">
                                                                            <p class="mb-0">{{x.type}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell">
                                                                            <p class="mb-0">{{x.balance}}</p>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% endfor %}
                            
                                </tbody>
                        </table>
                    </div>
                    <!-- .card-block -->
                </div>
                <!-- .card -->
                <!-- End Dynamic Table Full -->
            </div>
            <!-- .container-fluid -->
            <!-- End Page Content -->
        </main>
    </div>
    <!-- .app-layout-container -->
</div>
<!-- .app-layout-canvas -->


<div class="app-ui-mask-modal"></div>
{% endblock %}
{% block scripts %}
<!-- Page JS Plugins -->
<script src="{% static 'appUI/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<!-- Page JS Code -->
<script src="{% static 'appUI/js/pages/base_tables_datatables.js' %}"></script>
{% endblock %}