.sl-wrapper {
    .sl-image {
        border-radius: 7px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        overflow: hidden;

        .sl-caption {
            text-align: center;
            padding: 30px 15px 15px 15px;
            background: var(--adminux-theme-rgb);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(var(--adminux-theme-rgb), 1) 100%);
        }
    }

    .sl-navigation {
        &>button {
            font-size: 26px !important;
            line-height: 20px;
            text-align: center;
            border-radius: 30px;
            padding: 10px 0;
            vertical-align: middle;
            background-color: rgba(var(--adminux-theme-rgb), 0.5);
            color: var(--adminux-theme-color);
        }
    }

    .sl-close {
        font-size: 2em
    }

    &+.sl-overlay {
        opacity: 1;
        background-color: rgba(var(--adminux-theme-bg-rgb), 0.75);
        @extend .bg-blur;

    }

}