{% extends "users/base.html" %}
{% load static i18n %}
{% block head %}
{% endblock %}

{% block content %}
<style>
  .right-line {
    border-right: 5px #ccc solid;
    height: 2rem
  }
  
  .top-line {
    border-top: 5px #ccc solid;
  }
  
  .halved {
    width: 45%;
    float:left;
  }
</style>

<div class="container  mt-5 mb-5">
  <div class="row align-items-center">
    <div class="col-12 col-sm-12 col-md-4 text-center">
      <h4 class="username">My Network</h4>
      <div class="row">
        <div class="col-12">
        {% if plan1 %}
        <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ request.user.username }}
        {% else %}
        <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png"><br>{{ request.user.username }}        
        {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-6 right-line"></div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-3 right-line"></div>
        <div class="col-2 top-line"></div>
        <div class="col-2 top-line"></div>
        <div class="col-2 right-line top-line"></div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-6">
        {% if plan1.0 %}
        <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines1.0 }}
        {% else %}
        <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
        {% endif %}
        <div class="row">
          <div class="col-6 right-line"></div>
          <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-3 right-line"></div>
          <div class="col-2 top-line"></div>
          <div class="col-2 top-line"></div>
          <div class="col-2 right-line top-line"></div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col-6">
          {% if plan1.0 %}
          <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines1.0 }}
          {% else %}
          <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
          {% endif %}
          <div class="row">
            <div class="col-6 right-line"></div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-3 right-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 right-line top-line"></div>
            <div class="col-3"></div>
          </div>
          <div class="row">
            <div class="col-6">
            {% if plan1.0 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.0 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
            {% endif %}
            </div>
            <div class="col-6">
            {% if plan1.1 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
            {% endif %}
            </div>
          </div>
          </div>
          <div class="col-6">
          {% if plan1.1 %}
          <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
          {% else %}
          <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
          {% endif %}
          <div class="row">
            <div class="col-6 right-line"></div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-3 right-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 right-line top-line"></div>
            <div class="col-3"></div>
          </div>
          <div class="row">
            <div class="col-6">
            {% if plan1.0 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.0 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
            {% endif %}
            </div>
            <div class="col-6">
            {% if plan1.1 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
            {% endif %}
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="col-6">
        {% if plan1.1 %}
        <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
        {% else %}
        <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
        {% endif %}
        <div class="row">
          <div class="col-6 right-line"></div>
          <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-3 right-line"></div>
          <div class="col-2 top-line"></div>
          <div class="col-2 top-line"></div>
          <div class="col-2 right-line top-line"></div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col-6">
          {% if plan1.0 %}
          <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.0 }}
          {% else %}
          <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
          {% endif %}
          <div class="row">
            <div class="col-6 right-line"></div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-3 right-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 right-line top-line"></div>
            <div class="col-3"></div>
          </div>
          <div class="row">
            <div class="col-6">
            {% if plan1.0 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.0 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
            {% endif %}
            </div>
            <div class="col-6">
            {% if plan1.1 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
            {% endif %}
            </div>
          </div>
          </div>
          <div class="col-6">
          {% if plan1.1 %}
          <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
          {% else %}
          <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
          {% endif %}
          <div class="row">
            <div class="col-6 right-line"></div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-3 right-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 top-line"></div>
            <div class="col-2 right-line top-line"></div>
            <div class="col-3"></div>
          </div>
          <div class="row">
            <div class="col-6">
            {% if plan1.0 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.0 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">     
            {% endif %}
            </div>
            <div class="col-6">
            {% if plan1.1 %}
            <img style="width: 4rem;" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"><br>{{ downlines3.1 }}
            {% else %}
            <img style="width: 4rem;" src="https://static.vecteezy.com/system/resources/previews/008/506/404/original/contact-person-red-icon-free-png.png">
            {% endif %}
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}