{% extends "users/base.html" %}
{% load static i18n %}
{% block head %}
{% endblock %}

{% block content %}
<style>
  .right-line {
    border-right: 5px #ccc solid;
    height:2em
  }
  
  .top-line {
    border-top: 5px #ccc solid;
  }
  
  .halved {
    width: 50%;
    float:left;
  }
</style>
<div class="container text-center">
  <div class="row">
    <div class="col-12"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
  </div>
  <div class="row">
    <div class="col-6 right-line"></div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-3 right-line"></div>
    <div class="col-2 top-line"></div>
    <div class="col-2 top-line"></div>
    <div class="col-2 right-line top-line"></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-4"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-3 right-line"></div>
    <div class="col-3"></div>
    <div class="col-3 right-line"></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-2 right-line"></div>
    <div class="col-1 top-line"></div>
    <div class="col-1 right-line top-line"></div>
    <div class="col-2"></div>
    <div class="col-2 right-line"></div>
    <div class="col-1 top-line"></div>
    <div class="col-1 right-line top-line"></div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-2"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-2"><img width="150px" src="https://www.citypng.com/public/uploads/small/11639594320pss4tbiransxz0lclgesdm9kr73odulxn16eo3n1remr761kz0vj2nda3llvan8besj5i9fp18ocdvfnf36c5b6wfz8b8itb81fp.png"></div>
    <div class="col-1"></div>
  </div>
</div>
{% endblock content %}