.card {
    --bs-card-inner-border-radius: var(--adminux-rounded);
    --bs-card-border-radius: var(--adminux-rounded);
    --bs-gutter-x: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.025), 0 0.095rem 0.3rem rgba(0, 0, 0, 0.065);
    border-color: var(--adminux-border-color);

    .card-header {
        background-color: var(--adminux-theme-color);
        border-bottom: 0;
        padding: calc(var(--bs-gutter-x) * .5);
    }

    .card-body {
        padding: calc(var(--bs-gutter-x) * .5);

        &:first-child {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .card {
            background-color: var(--adminux-theme-color);

            .card-body {}
        }
    }

    .card-footer {
        background-color: rgba(var(--adminux-theme-rgb), 0.08);
        border-top: 0px solid transparent;
        margin-top: 1px;
        padding: calc(var(--bs-gutter-x) * .5);
    }

    &.selected {
        border: 2px solid $green;
    }

    &.border-card-status {
        &.status-start {
            border-left-width: 5px !important;
            border-left-style: solid !important;
        }
    }
}


a.card {
    text-decoration: none;
}

.alert {
    border-radius: var(--adminux-rounded);
    box-shadow: 0 0.10rem 0.15rem rgba(0, 0, 0, 0.05);
}

.toast {
    border-radius: var(--adminux-rounded);

    .toast-header {
        border-top-left-radius: var(--adminux-rounded);
        border-top-right-radius: var(--adminux-rounded);
    }

    .toast-footer {
        border-bottom-left-radius: var(--adminux-rounded);
        border-bottom-right-radius: var(--adminux-rounded);
    }

    &.rounded-6 {
        .toast-header {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .toast-footer {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

.modal {
    .modal-dialog {
        --bs-modal-border-radius: var(--adminux-rounded);

        .modal-content {
            border: 0;
            box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.015), 0 0.45rem 1rem rgba(0, 0, 0, 0.1);
        }

        .modal-header,
        .modal-footer,
        .modal-body {
            padding: 1rem;
            border-color: var(--adminux-border-color);
        }

        .modal-footer {

            .btn,
            input,
            p,
            a {
                margin: 0;
            }
        }

        &.modal-xsm {
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.modal-backdrop {
    background-color: rgba(var(--adminux-theme-rgb), 0.45);

    &.show {
        opacity: 1;
    }
}

.accordion-theme {
    --bs-accordion-border-radius: var(--adminux-rounded);
    border: 0;
    background-color: transparent;

    .accordion-item {
        background-color: var(--adminux-theme-color);
        margin-bottom: 1rem;
        border: 0;
        border-radius: var(--adminux-rounded);
        box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.025), 0 0.10rem 0.3rem rgba(0, 0, 0, 0.065);

        .accordion-header {
            border-radius: var(--adminux-rounded);
            background-color: transparent;

            .accordion-button {
                border-radius: var(--adminux-rounded);
                background-color: transparent;
            }

            &.show {
                .accordion-button:not(.collapsed) {
                    background-color: var(--adminux-theme-bg);
                    background-color: transparent;
                    border-color: var(--adminux-border-color);
                    color: var(--adminux-theme-text);
                    font-weight: 500;
                }
            }
        }

        &:first-child {
            .accordion-header {

                .accordion-button {}
            }
        }

        &:last-child {

            .accordion-header {

                .accordion-button {
                    &.collapsed {}
                }
            }
        }
    }
}

.dropdown-menu {
    --bs-dropdown-border-radius: var(--adminux-rounded);
    padding: 20px;
    background-color: var(--adminux-theme-color);
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.015), 0 0.45rem 1rem rgba(0, 0, 0, 0.1);
    border: none;
    font-size: var(--adminux-dropdown-fontSize);

    &.show {
        margin-top: 0.675rem;
    }

    .dropdown-title {
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        background-color: none;

        &:hover,
        &:focus {
            background-color: none;
        }
    }

    .dropdown-info {
        margin: -20px -20px 20px -20px;
        padding: 25px 15px;

        &:first-child {
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }

    div.dropdown-item {
        background-color: transparent;
        white-space: normal;

        &:hover,
        &:focus {
            color: var(--adminux-theme-text);
        }
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
        border-radius: calc(var(--adminux-rounded) - 0.25rem);
        background-color: transparent;
        @extend .transition-05;

        i {
            font-size: 16px;
            vertical-align: middle;
            color: var(--adminux-theme);
            height: 24px;
            line-height: 24px;
            width: 24px;
            text-align: center;
            border-radius: var(--adminux-rounded);
            display: inline-block;
            vertical-align: middle;
        }

        &.dropdown-item:not(div) {
            position: relative;
            @extend .transition-05;

            &:hover,
            &:focus {
                color: var(--adminux-theme-color);
                background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);

            }

            &:active,
            &.active {
                color: var(--adminux-theme-color);
                background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);

                i {
                    color: var(--adminux-theme-color);
                }

                &:hover,
                &:focus {
                    color: var(--adminux-theme-color);
                }

            }

            .arrow {
                float: right;
                right: -20px;
                position: relative;
                opacity: 0.4;
                margin-top: 1px;
            }

            &.square-item {
                padding-bottom: 20px;

                &:before {
                    display: none;
                }

                i {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    &.dropdown-menu-center {
        &.w-200 {
            margin-left: 50%;
            left: -100px;
        }

        &.w-300 {
            margin-left: 50%;
            left: -150px;
        }

        &.w-400 {
            margin-left: 50%;
            left: -200px;
        }

        &.w-500 {
            margin-left: 50%;
            left: -250px;
        }

        &.w-600 {
            margin-left: 50%;
            left: -300px;
        }
    }


    .open-left {
        .dropdown-menu {
            left: auto;
            right: 100%;
            top: 0;
            margin-top: 0;
        }

        &:hover {

            .dropdown-menu,
            .dropdown-menu.show {
                display: block;
                margin-top: 0;
            }
        }
    }

    .open-right {
        .dropdown-menu {
            right: auto;
            left: 100%;
            top: 0;
            margin-top: 0;
        }

        &:hover {

            .dropdown-menu,
            .dropdown-menu.show {
                display: block;
                margin-top: 0;
            }
        }
    }
    
    .dropdown-menu{
        min-width: 100px
    }

}

.dropdown-toggle {

    &.btn-link {
        &.show {
            background-color: rgba(var(--adminux-theme-rgb), 0.075);
            color: var(--adminux-theme) !important;
        }
    }

    &.no-caret {
        &::after {
            display: none;
        }
    }

}

.input-group {
    .input-group-text.dropdown {
        white-space: normal;
    }
}

@media screen and (max-width: 340px) {
    .toast {
        width: 300px;
    }
}


@media screen and (max-width:767px) {
    .dropdown-menu {
        &.dropdown-menu-center.w-300 {
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}