.navbar-brand {
    font-size: var(--fontSize);

    h5 {
        margin-bottom: 0;
    }

    img {
        vertical-align: middle;
        max-height: 50px;
    }

    .logo-icon {
        height: 40px;
        width: 40px;
        padding: 5px;
        line-height: 30px;
        border-radius: 10px;
        display: block;
        text-align: center;
        vertical-align: middle;

        @extend .bg-radial-gradient-theme;

        img {
            vertical-align: top;
            max-width: 30px;
        }
    }

    .getabel {
        position: absolute;
        left: 0px;
        top: -16px;
        font-size: 9px;
        padding: 1px 5px 0px 5px;
        background: var(--adminux-theme);
        color: var(--adminux-theme-color);
        text-align: center;
        display: block;
        border-radius: 0;
    }
}

.header {
    z-index: 9 !important;

    &>.navbar {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(var(--adminux-theme-bg-rgb), 0.8) 100%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 var(--adminux-rounded) var(--adminux-rounded);
        padding-top: calc(env(safe-area-inset-top) + var(--bs-navbar-padding-y));
        @extend .transition-05;
        @extend .bg-blur;
    }

    .container-fluid {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        z-index: 1;
    }

    &:not(.fixed-top) {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    a:not(.btn),
    .btn.btn-link,
    .dropdown-item {
        color: var(--adminux-theme-text);

        &:hover,
        &:focus {
            color: var(--adminux-theme-text);
        }
    }


    &.text-white {
        --adminux-theme: #ffffff;
        color: #ffffff;

        .nav-link,
        .text-dark {
            color: var(--adminux-theme) !important;
        }

        .text-secondary {
            color: rgba(255, 255, 255, 0.7) !important;
        }
    }

    .tempdata {
        top: -2px;
        position: relative;

        .tempimage {
            width: 50px;
        }
    }

    .username {
        line-height: 1.2rem;
    }

    &.active {
        &>.navbar {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
        }
    }
}

body:not(.sidebar-filled-theme):not(.sidebar-filled) {
    .header {
        &>.navbar {
            &:after {
                left: 0;
            }
        }
    }
}

.search-header {
    &>.input-group {

        &>.input-group-text,
        &>.form-select,
        &>.form-control,
        &>.chosen-container .chosen-single,
        &>.chosen-container .chosen-default,
        &>.chosen-container-multi .chosen-choices {
            background-color: var(--adminux-theme-bg);
        }
    }
}


@media screen and (max-width:992px) {
    .navbar-brand {
        img {
            max-height: 36px;
        }
    }
}

@media screen and (max-width:1199px) {
    .search-header {
        background-color: var(--adminux-theme-bg-2);
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(var(--adminux-theme-bg-rgb), 0.8) 100%);
        position: fixed;
        top: -120px;
        left: 0;
        right: 0;
        padding: calc(env(safe-area-inset-top) + 5px) 1rem 6px 1rem;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        z-index: 11;
        border-radius: 0 0 var(--adminux-rounded) var(--adminux-rounded);

        .input-group {
            width: 100%;
            max-width: none;
            margin: 0 auto;
            border-width: 1px !important;
        }

        .dropdown-menu {
            background-color: var(--adminux-theme-bg);
            margin-top: 14px !important;
        }

        #searchresultglobal {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }

        &.active {
            top: 0px;
            display: block !important;
        }
    }

    .nav-iconbar {
        .nav-item {
            .nav-link {
                padding: 0.5rem 0.75rem;
            }
        }
    }

}