.right-width {
    width: var(--adminux-rightbar-width);
    display: flex;
}

.rightbar-wrap {
    position: fixed !important;
    height: 100%;
    width: var(--adminux-rightbar-width);
    top: 0;
    left: auto;
    right: calc((var(--adminux-rightbar-width) + 15px)*(-1));
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 8;
    opacity: 0;
    padding: var(--bs-gutter-x, 0.75rem) var(--bs-gutter-x, 0.75rem) var(--bs-gutter-x, 0.75rem) 0;
    border-radius: var(--adminux-rounded) 0 0 var(--adminux-rounded);
    @extend .transition-05;

    .rightbar {
        float: left;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        color: var(--adminux-theme-text);

        .notificationwindow {
            padding-right: 5px;
        }

        .chatwindow {
            height: 100%;
        }

    }

}

.rightbar-open {
    .main {
        margin-right: 0;
    }

    .rightbar-wrap {
        overflow: hidden;
        opacity: 1;
        right: 0;
    }
}




@media screen and (min-width:1600px) {
    .rightbar-open {
        .main {
            margin-right: calc(var(--adminux-rightbar-width) + var(--bs-gutter-x, 0.75rem));
        }
    }
}

@media screen and (max-width:1599px) {
    .rightbar-wrap {
        .rightbar {

            .chatwindow,
            .notificationwindow {
                padding: 20px 20px 20px 20px;

            }
        }
    }
}