/* tags */
.tag {
    height: 32px;
    line-height: 26px;
    vertical-align: middle;
    border-radius: 15px;
    padding: 1px 15px;
    background-color: rgba(var(--adminux-theme-rgb), 0.45);
    background: linear-gradient(90deg, var(--adminux-theme-grad-3) 0%, var(--adminux-theme-grad-1) 100%);
    color: var(--adminux-theme-color);
    display: inline-block;

    figure {
        vertical-align: middle;

        &:first-child {
            margin-left: -14px;
        }

        &:last-child {
            margin-right: -14px;
        }
    }

    &>i {
        margin-right: 5px;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;

        &:first-child {
            margin-left: -14px;
        }

        &:last-child {
            margin-right: -7px;
        }
    }

    &.tag-sm {
        height: 22px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 12px;
        padding: 1px 20px;

        &>i {
            margin-right: 3px;
            font-size: 12px;

            &:first-child {
                margin-left: -3px;
            }

            &:last-child {
                margin-right: -3px;
            }
        }
    }

    &.tag-lg {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    &:hover,
    &:focus,
    &.active {
        background-color: var(--adminux-theme-darken);
        color: var(--adminux-theme-color) !important;
    }

    &.bg-dark-theme {
        background: rgba(var(--adminux-theme-rgb), 0.25) !important;

        &:hover,
        &:focus,
        &.active {
            background-color: var(--adminux-theme) !important;
            color: var(--adminux-theme-color) !important;
        }
    }
}