{% extends "users/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
  body {
    background-color: #37385F;
    font-family: 'Lato', sans-serif;
  }

  .file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 3px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 26px 20px 30px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
 
  .fake-btn {
    color: white;
    background: #3F4069;
    width: 176px;
    border: 1px solid #9E9EC4;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
  }

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-input:focus {
    outline: none;
  }
</style>

<section style="padding: 30px 30px 20px 30px;" class="error-header">
  <h1>{% trans "MT5 Transfer" %}</h1>
  <p>{% trans 'After transfer request Generation, You will receive balance within 24-48 hours!' %}</p>
</section>
<section>
  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
      <div class="mdc-layout-grid__inner mt-2">
        {% if mt5 == 'blank' %}
        <p>Firstly generate an MT5 Account!</p>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <form class="template-demo" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" required="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" value="" name="password" id="passwords_pattern1" list="passwords_pattern1_datalist" title="Please enter 1 UPPERCASE, 1 lowercase, 1 Spcial Character, 1 Number, min 8 Characters" class="mdc-text-field__input">
                  <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="text-field-hero-input" class="mdc-floating-label" style="">Account Password
                      </label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
              </div>
            </div>
            {% if mt5s == 0 %}
            <button type="submit" class="mdc-button mdc-button--raised w-50 mdc-ripple-upgraded">
              Generate MT5 Account
            </button>
            {% else %}
            <p>Request in progress</p>
            {% endif %}
          </form>
        </div>
        {% else %}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <br>
          <p>MT5 Account:{{ mt5.account }}, MT5 Password: {{ mt5.password }}</p>
          {% if request.user.auto_neft %}
          {% else %}
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="mt5">
            <button type="submit" class="mdc-button mdc-button--raised  mdc-ripple-upgraded">
              Send Amount to DibortFX MT5 Account
            </button>
            <p>{{ message }}</p>
          </form>
          {% endif %}
          <p style="color: red">{% trans 'Note: For payment queries write us at support@ipaymatics.com' %}</p>
          <div class="py-4">
            <p class="d-flex justify-content-between">
              <span><strong>Date</strong></span>
              <span><strong>Amount</strong></span>
              <span><strong>Admin Charge</strong></span>
              <span><strong>Status</strong></span>
            </p>
            {% for w in withdrawals %}
            <p class="d-flex justify-content-between">
              <span>{{ w.created_at|date:'d M' }}</span>
              <span>{{ w.amount }}</span>
              <span>{{ w.tax }}</span>
              <span style="{% if w.status == 'pending' %}color: orange{% elif w.status == 'Success' %}color: green{% else %}color: red{% endif %}"><strong>{{ w.status }}</strong></span>
            </p>
            {% endfor %}
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <button disabled type="submit" class="mdc-button mdc-button--raised w-100 mdc-ripple-upgraded">
            Request Monthly Withdrawal
          </button>
          <p style="color: red">{% trans 'Note: Withhdrawals are only allowed on first day of every month, next it will activate on September 1, 2021' %}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
</div>
</div>
</main>
{% endblock %}