{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Profile' %}{% endblock %}


{% block content %}
<div class="container-fluid m-4">
	<div class="row align-items-center page-title">
		<div class="col-12 col-md m-2 mb-sm-0">
			<h5>{% trans "Congratulations, Your account has been created successfully!" %}</h5>
			<p>DollarVridhi welcomes you and we look forward to a successful journey with you! Welcome aboard! Your Login details are given below.</p>
			<table class="pb-3">
				<tbody>
				<tr>
				<td>Name:</td>
				<td>{{ user.name }}</td>
				</tr>
				<tr>
				<td>Email:</td>
				<td>{{ user.email }}</td>
				</tr>
				<tr><td>UserID:</td><td>{{ user.username }}</td></tr>
				
				<tr><td>Mobile:</td><td>{{ user.mobile }}</td></tr>
				
				<tr><td>Sponsor&nbsp;ID:</td><td>{{ ruser.username }}</td></tr>
				
				<tr><td>Sponsor&nbsp;Name:</td><td>{{ ruser.name }}</td></tr>

				<tr><td>Password</td><td>{{user.visiblepass}}</td></tr>
				
				</tbody>
				</table>
				<a href="/level/join/" type="submit" class="mdc-button mdc-button--raised w-100 mb-3">
					Buy Prime
					</a>
					<a href="/users/~update/" type="submit" style="color: white" class="mdc-button mdc-button--raised mdc-button--success w-100">
					View Profile
					</a>
		</div>
	</div>
</div>
{% endblock %}