{% extends "users/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-center m-2 p-2">
		<div class="mdc-card" align="center">
			<h1>{{ user.username }}</h1>
			{% if user.name %}<p class="lead">{{ user.name|title }}</p>{% endif %}
			<div class="text-center">
				{% if user.profile_pic %}
			<img style="border-radius: 50%;" class="img-xl img-rouded mb-3" src="{{ user.profile_pic.url }}" width="200px" alt="Picture Profile" id="pic">
			{% else %}
			{% endif %}
				<p>
					{{ user.address }}, {{ user.city }}, {{ user.state }}
				</p>
				<div class="d-flex justify-content-between">
					<a href="#edit" class="mdc-button mdc-button--unelevated filled-button--primary mdc-ripple-upgraded">
						{% trans "Edit Profile" %}
					</a>
					<a href="/users/" class="mdc-button mdc-button--unelevated filled-button--primary mdc-ripple-upgraded">
						{% trans "My Dashboard" %} 
					</a>
				</div>
			</div>
			<div class="border-bottom py-4">
	            <div class="template-demo">
	              <div role="progressbar" class="mdc-linear-progress">
	                <div class="mdc-linear-progress__buffering-dots"></div>
	                <div class="mdc-linear-progress__buffer"></div>
	                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);">
	                  <span class="mdc-linear-progress__bar-inner"></span>
	                </div>
	                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
	                  <span class="mdc-linear-progress__bar-inner"></span>
	                </div>
	              </div>
	            </div>
	            <div class="template-demo">
	              <div role="progressbar" class="mdc-linear-progress">
	                <div class="mdc-linear-progress__buffering-dots"></div>
	                <div class="mdc-linear-progress__buffer"></div>
	                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);">
	                  <span class="mdc-linear-progress__bar-inner"></span>
	                </div>
	                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
	                  <span class="mdc-linear-progress__bar-inner"></span>
	                </div>
	              </div>
	            </div>
	          </div>
			<div class="py-4">
				<p class="d-flex justify-content-between">
					<span> {% trans "Mobile" %}  </span>
					<span>
						{{ user.mobile }}
					</span>
				</p>
				<p class="d-flex justify-content-between">
					<span>Date of Registration</span>
					<span>
						{{ user.date_joined|date }}
					</span>
				</p>
				<p class="d-flex justify-content-between">
					<span>Date of Activation</span>
					<span>
						{{ s.activated_at|date }}
					</span>
				</p>
			</div>
			{% if form.errors %}
			{% for field in form %}
			{% for error in field.errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }} => {{ field.label }}</strong>
			</div>
			{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
			{% endfor %}
			{% endif %}
			<form enctype="multipart/form-data" class="form-horizontal" method="post" action="/users/~update/">
				{% csrf_token %}
				<div id="edit" class="mdc-layout-grid">
					<div class="mdc-layout-grid__inner mb-3">
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" value="{{ user.name }}" type="text" class="form-control border-start-0" name="password" placeholder="Password" id="password">
                                    <label for="password">Name of User</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" value="{{ user.email }}" type="text" class="form-control border-start-0" name="password" placeholder="Email" id="password">
                                    <label for="password">Email</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" value="{{ user.mobile }}" type="text" class="form-control border-start-0" name="password" placeholder="Mobile" id="password">
                                    <label for="password">Mobile</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" value="{{ user.address }}" type="text" class="form-control border-start-0" name="password" placeholder="Address" id="password">
                                    <label for="password">Address</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" type="text" value="{{ user.city }}" class="form-control border-start-0" name="password" placeholder="City" id="password">
                                    <label for="password">City</label>
                                </div>
                            </div>
                        </div>
						<div class="form-group mb-2 position-relative check-valid text-dark">
                            <div class="input-group input-group-lg">
                                <div class="form-floating">
                                  <input autocomplete="off" autocomplete="sedrctvghb" type="text" value="{{ user.state }}" class="form-control border-start-0" name="password" placeholder="Password" id="password">
                                    <label for="password">State</label>
                                </div>
                            </div>
                        </div>
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
							<label class="mdc-button mdc-button--unelevated filled-button--secondary w-100" style="
										    display: inline-block;
										    padding: 6px 12px;
										    cursor: pointer;">{% trans "Upload Profile Picture" %}

									<input style="display: none;" id="profile_pic" type="file" name="profile_pic">
								</label>
						</div>
					</div>
				<button class="btn btn-primary">
					{% trans "Update Profile" %}
				</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('profile_pic').onchange = function () {
  alert('Selected file: ' + this.value);
};
</script>
{% endblock %}