    {% extends "users/base.html" %}
    {% load static i18n %}
    {% block title %}{% trans 'Dashboard' %}{% endblock %}
    {% load sum_tags %}


    {% block content %}
                                         
    <!--Page Content-->
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="user-ranking" style="background-image: url({{ request.user.profile_pic.url }}); ">
            <div class="rank" data-bs-toggle="tooltip" data-bs-placement="top" title="By signing up to the account">
                <img src="{% static '/assets/global/images/sCQgIyl0OKzFiO73nmWF.svg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
        <div class="site-card">
            <div class="site-card-header">
                <h3 class="title">Referral URL</h3>
            </div>
            <div class="site-card-body">
                <div class="row bg-gradient-theme-light theme-purple border-0 mb-2 row">
                    <div style="overflow-x: auto;" class="col-sm-6 col-lg-9 mb-2">
                        <p class="text-secondary">https://BluechainDefi.com/register/{{request.user.username}}</p>
                        <input type="input" style="width:20px; position:absolute; display: none;" value="https:/BluechainDefi.com/register/{{request.user.username}}" id="copy-to-clipboard-input">
                    </div>
                    <div class="col-sm-6 col-lg-3 text-center">
                        <a onclick="myyFunction()" class="btn btn-success">Copy</a>
                        <a href="whatsapp://send?text=https://BluechainDefi.com/register/{{request.user.username}}" class="btn btn-danger">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div class="row user-cards">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-inbox"></i></div>
            <div class="content">
                            {% if amount != 'None' %}
                                <h4 class="mb-0"><b>$</b><span class="count">{{ amount.level.amount|floatformat:2 }}</span></h4>
                            {% else %}
                                <h4 class="increamentcount mb-0">$ 0</h4>
                            {% endif %}
                        <p class="small">My Plan</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-file-add"></i></div>
            <div class="content" style="float: left;">
                <h4><b></b><span class="count">{{ all }}</span></h4>
                <p>Total Team</p>
            </div>
            <div class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="content" style="float: right; text-align: end;">
                <h4><b></b><span class="count">{{ 2 }}</span></h4>
                <p>Active Team</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-file-add"></i></div>
            <div class="content" style="float: left;">
                <h4><b></b><span class="count">{{ all }}</span></h4>
                <p>Total Business</p>
            </div>
            <div class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="content" style="float: right; text-align: end;">
                <h4><b></b><span class="count">{{ 2 }}</span></h4>
                <p>Today Business</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-check-square"></i></div>
            <div class="content">
                <h4><b></b><span class="count">{{all}}</span></h4>
                <p>My Team</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-credit-card"></i></div>
            <div class="content">
                <h4><b></b><span class="count">{{ c.today_new_ids }}</span></h4>
                <p>Today's Global Active Team</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single"> 
            <div class="icon"><i class="anticon anticon-credit-card"></i></div>
            <div class="content">
                <h4><b></b><span class="count">{{ c.total_active_ids }}</span></h4>
                <p>Total Active Users in Company</p>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-file-add"></i></div>
            <div class="content" style="float: left;">
                <h4><b></b><span class="count">{{ all }}</span></h4>
                <p>Total Withdrwal</p>
            </div>
            <div class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="content" style="float: right; text-align: end;">
                <h4><b></b><span class="count">{{ 2 }}</span></h4>
                <p>Pending Withdrwal</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-arrow-right"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{request.user.wallet|floatformat:2 }}</span></h4>
                <p>Withdrawal Wallet</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-money-collect"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{request.user.today_income|floatformat:2 }}</span></h4>
                <p>Today Income</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-inbox"></i></div>
            <div class="content">
                <h4><b>$</b><span>{{ request.user.global_income }}</span></h4>
                <p>Loop 3X Income</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-inbox"></i></div>
            <div class="content">
                <h4><b>$</b><span>{{ request.user.global_income }}</span></h4>
                <p>Direct Income</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-account-book"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ request.user.level_income|floatformat:2 }}</span></h4>
                <p>Level Income</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="single">
            <div class="icon"><i class="anticon anticon-account-book"></i></div>
            <div class="content">
                <h4><b>$</b><span class="count">{{ request.user.level_income|floatformat:2 }}</span></h4>
                <p>Retopup Income</p>
            </div>
        </div>
    </div>
</div>

    
    <div class="row">
    <div class="col-xl-12">
        <div class="site-card">
            <div class="site-card-header">
                <h3 class="title">Recent Transactions</h3>
            </div>
            <div class="site-card-body table-responsive">
                <div class="site-datatable">
                        <table class="table table-borderless footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-sm" data-show-toggle="true" style="">
                            <thead>
                                <tr class="text-muted footable-header">	
                                <th class="w-12 footable-sortable footable-first-visible" style="display: table-cell;"><span class="fooicon fooicon-sort"></span></th>
                                <th class="footable-sortable" style="display: table-cell;">User ID<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Amount<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">Comment<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Date<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Status<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Deliver to" class="footable-sortable" style="display: table-cell">txn ID<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Address" class="footable-sortable" style="display: table-cell">Type<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="all" data-title="Location" class="footable-sortable" style="display: table-cell">Balance<span class="fooicon fooicon-sort"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for history in histories %}
                                                                {% if history.type == 'hidden' %}
                                                                {% else %}
                                                                <tr>
                                                                    <td class="footable-first-visible" style="display: table-cell;">{{ forloop.counter }}</td>
                                                                    <td style="display: table-cell;">
                                                                        {{ history.user_id }}
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{ history.amount }}</p>
                                                                            <p class="text-secondary small">USD</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{history.comment}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{history.created_at}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">Success</p>
                                                                        </td>
                                                                        <td style="display: table-cell;">
                                                                            <p class="mb-0">{{history.txnid}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell">
                                                                            <p class="mb-0">{{history.type}}</p>
                                                                        </td>
                                                                        <td style="display: table-cell">
                                                                            <p class="mb-0">{{history.balance}}</p>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% endfor %}
                            
                                </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myyFunction() {
          var copyText = document.getElementById("copy-to-clipboard-input");
          copyText.select();
          copyText.setSelectionRange(0, 99999)
          document.execCommand("copy");
        }
        </script>
    {% endblock content %}