/* CSS Document */

body{height:auto; margin:0; padding:0;}


.toptext{font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000000; line-height:30px;}

.sedtext{font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000000; text-decoration:underline; line-height:30px; padding:0px 0px 0px 120px;}

.DCCtext{font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000000; text-decoration:underline; line-height:30px; padding:0px 0px 0px 0px;}


.satusdtext{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000000; text-decoration:none; line-height:30px; padding:0px 0px 0px 40px;}


.1satusdtext{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000000; text-decoration:none; line-height:30px; padding:0px 0px 0px 0px;}



.tenders{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; line-height:115px; padding:0px 0px 0px 0px;}


.texttable{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; padding:3px 3px 3px 3px;}